

  

<div class="contenedor"> 

  <div class="header">
    <app-header></app-header>
  </div>

  <div class="buscador">
    <app-buscador></app-buscador>
  </div>    
  
  <div class="pokemon">    
    <router-outlet></router-outlet>        
  </div>
  
  <div class="listado">    
    <app-listado></app-listado>     
  </div> 

  <div class="footer">
    <app-footer></app-footer>
  </div>  
  
</div>

  







<!-- <div class="container1">

  <div class="grid1">
    1
  </div> 

  <div class="grid2">
    2
  </div>

  

    <div class="grid3">
      3
    </div>
      
    <div class="grid4">
      4
    </div>

  

  <div class="grid5">
    5
  </div>

</div> -->

