.contenedor{

    display: grid;    
    border-top: 3px solid black;    
    margin: 0px;
    background: linear-gradient( rgb(0, 89, 255) 45% ,rgb(2, 5, 58) 45%, rgb(39, 27, 214) 50%);
    justify-content: center;
    height: 50px;
    font-family: monospace;
    color: aliceblue;
    font-size: 20px;
    place-items: center;
    
}

@media(max-width: 1150px){
    .contenedor{
        height: 150px;
        text-align: center;
    }
}
